.section {
    &-futureTrip {
        background-repeat: repeat;
        .background {
            background-color: rgba(color(bg, 11), .975);
            padding-bottom: 100px;
        }
        .image-wrap {
            margin-top: -60px;
            position: relative;
            &:after {
                content: '';
                background: #ffffff; /* Old browsers */
                background: -moz-linear-gradient(left,   rgba(255, 255, 255,  0) 1%, rgba(255, 255, 255, .35) 80%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left,  rgba(255, 255, 255,  0) 1%, rgba(255, 255, 255, .35) 80%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, rgba(255, 255, 255,  0) 1%, rgba(255, 255, 255, .35) 80%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                height: 100%;
                // max-width: 30%;
                position: absolute;
                right: 0;
                z-index: 10;
                top: 0;
                width: 100%;
            }
        }
        .future-content {
            padding-top: 60px;
            padding-left: 70px;
            .sub-title {
                position: relative;
                &:before {
                    content: '';
                    background-color: color(bg, 9);
                    width: 60px;
                    height: 3px;
                    position: absolute;
                    left: -70px;
                    top: 12px;
                }
            }
            h3 {
                font-size: 50px;
                @media(min-width: 1200px) {
                    margin-left: -120px;
                    position: relative;
                    z-index: 10;
                    max-width: 360px;
                }
            }
            span {
                display: block;
                &.starting {
                    font-size: 14px;
                    font-weight: 600;
                }
                &.price {

                    color: color(typography, 9);
                    font-size: 36px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
                
            }
        }
    }
}