.footer {
    background-repeat: no-repeat;
        background-position: center top;
    &-top {
        background-color: color(bg,1);
        
        &-wrap {
            background-color: rgba(color(bg,1), .95);
            max-width: 1420px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 86px;
        }
    }
    &-link {
        font-size: 16px;
        margin-bottom: 30px;
        h4 {
            font-size: 18px;
            @include font-family(primary);
            font-weight: 600;
            color: color(typography, 9);
            border-bottom: 1px dotted #999999;
            padding-bottom: 14px;
            margin-bottom: 16px;
        }
        ul {
            li {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
                a {
                    color: color(typography, 13);
                    &:hover {
                        color: color(typography, 9);
                    }
                }
            }
        }
        form {
            .form-control {
                border-radius: 0;
                border: 1px solid #F1F1F1;
                height: 48px;
                &::-webkit-input-placeholder {
                    color: color(typography, 14);
                    opacity: 1;
                }
                
                &::-moz-placeholder {
                color: color(typography, 14);
                opacity: 1;
                }
                
                &:-ms-input-placeholder {
                color: color(typography, 14);
                opacity: 1;
                }
                
                &::-ms-input-placeholder {
                color: color(typography, 14);
                opacity: 1;
                }
                
                &::placeholder {
                color: color(typography, 14);
                opacity: 1;
                }
            }
            .btn {
                border: 2px solid color(typography, 7);
                display: block;
                font-weight: 400;
                width: 100%;
            }
        }
    }
    &-logo {
        padding-top: 80px;
        padding-bottom: 60px;
        border-top: 1px dotted #999999;
        margin-top: 15px;
        ul {
            display: flex;
            flex-wrap: wrap;
            margin-left: -40px;
            margin-right: -40px;
            justify-content: center;
            align-items: center;
            li {
                padding-left: 40px;
                padding-right: 40px;
                margin-bottom: 20px;
            }
        }
    }
    .copyright {
        font-size: 16px;
        color: color(typography, 10);
        padding-top: 34px;
        padding-bottom: 34px;
        @media(max-width: 991px) {
            text-align: center;
            border-top: 1px solid rgba(color(typography, 5), .1);
        }
        .copyinfo {
            a {
                color: color(typography, 10);
                &:hover {
                    color: color(typography, 9);
                }
            }
        }
        .designedby {
            @media(min-width: 992px) {
                text-align: right;
            }
            a {
                color: color(typography, 7);
                font-weight: 700;
                &:hover {
                    color: color(typography, 9);
                }
            }
        }
    }
}