.section {
    &-planningTour {
        padding-top: 100px;
        padding-bottom: 160px;
        .heading-text {
            margin-bottom: 62px;
        }
        .planning-wrap {
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(color(bg, 12), .1);
            margin-bottom: 30px;
            .img-wrap {
                position: relative;
                overflow: hidden;
                img {
                    width: 100%;
                }
                h4 {
                    background-color: color(bg,1);
                    margin: 0;
                    position: absolute;
                    left: 0;
                    right: auto;
                    bottom: 0;
                    padding: 30px 30px 10px 0;
                    max-width: 95%;
                    width: 100%;
                    z-index: 5;
                    font-size: 24px;
                    @include font-family(primary);
                    @media(min-width: 1200px) {
                        max-width: 80%;
                    }
                    a {
                        color: color(typography, 6);
                        &:hover {
                            color: color(typography, 9);
                        }
                    }
                }
            }
        }
        ul {
            &.trek-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-left: -7px;
                margin-right: -7px;
                margin-top: 30px;
                li {
                    padding-left: 7px;
                    padding-right: 7px;
                    background-repeat: no-repeat;
                    background-position: 0 2px;
                    span {
                        margin-left: 20px;
                    }
                    img {
                        display: inline-block;
                        margin-right: 10px;
                    }
                    &.map {
                        background-image: url('../images/map-marker.svg');
                    }
                    &.time {
                        background-image: url('../images/clock.svg');
                    }
                    &.price {
                        background-image: url('../images/price.svg');
                    }
                }
            }
        }
        .btn-wrap {
            ul {
                justify-content: center;
            }
        }
    }
}