.section {
    &-tour {
        background-color: color(bg, 11);
        padding-top: 100px;
        padding-bottom: 100px;
        @media(max-width: 991px) {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .container {
            max-width: 100%;
        }

        .tour {
            &-wrap {
                padding-left: 15px;
                .btn-wrap {
                    margin-top: 60px;
                    @media(max-width: 767px) {
                        margin-top: 40px;
                        margin-bottom: 40px;
                    }
                }
            }
            

            &-slider {
                margin-left: -10px;
                margin-right: -10px;
                .slick-list {
                    padding-left: 0 !important;
                }
                .tour {
                    &-item {
                        position: relative;
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                    }

                    &-content {
                        background-color: rgba(color(bg, 3), .2);
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        z-index: 5;
                        bottom: 0;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: flex-end;
                        padding: 20px;

                        h4 {
                            font-size: 20px;
                            font-weight: 700;
                            @include font-family(primary);

                            a {
                                color: color(typography, 1);
                            }
                        }

                        a {
                            &.tour-link {
                                display: inline-block;
                                color: color(typography, 1);
                                font-size: 14px;
                                opacity: 0;

                                &:after {
                                    content: "\f105";
                                    font-family:'FontAwesome';
                                    margin-left: 10px;
                                }
                            }
                        }
                        &:hover {
                            a {
                                &.tour-link {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
}

[class*="slick-arrows-"] {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    .slick-prev, 
    .slick-next {
        position: static;
        &:before {
            color: transparent;
        }
    }
    .slick-prev {
        margin-right: 20px;
    }
}