.section-planningTour {
  padding-top: 100px; }
  .section-planningTour .planning-wrap .img-wrap {
    position: relative;
    overflow: hidden; }
    .section-planningTour .planning-wrap .img-wrap h4 {
      background-color: color(bg, 1);
      margin: 0;
      position: absolute;
      left: 0;
      right: auto;
      bottom: 0;
      padding: 10px 30px 10px 0;
      max-width: 80%;
      width: 100%;
      z-index: 5;
      font-size: 24px;
      font-family: "Nunito Sans", sans-serif; }
      .section-planningTour .planning-wrap .img-wrap h4 a {
        color: color(typography, 6); }
  .section-planningTour ul.trek-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: -7px;
    margin-right: -7px;
    margin-top: 30px; }
    .section-planningTour ul.trek-list li {
      padding-left: 7px;
      padding-right: 7px; }
      .section-planningTour ul.trek-list li img {
        display: inline-block;
        margin-right: 10px; }

/*# sourceMappingURL=planning.css.map */
